@import '~bootstrap/scss/bootstrap';

#after-sign-in, #new-game, #play-mat {
  display: none;
}

h1, .feedback {
  text-align: center;
}

#play-mat {
  height: 75vh;
}

#game-board {
  margin: auto;

  max-height: calc(75vh-75px);
  max-width: calc(75vh-75px);
}

.square {
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  min-height: calc(100%/3);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(60vh/3);

}
